{% extends 'base.html' %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }} - Profile
{% endblock %}

{% block style %}
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: white;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right bottom, rgb(51, 98, 200), rgb(110, 88, 158));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right bottom, rgb(51, 98, 200), rgb(110, 88, 158))
        }
    </style>
{% endblock %}

{% block content %}
    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-5 h-10">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                           о     <img src="https://raw.githubusercontent.com/mdn/beginner-html-site/gh-pages/images/firefox-icon.png"
                                     alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <hr class="mt-0 mb-10">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">{{ user.email }}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Last login</h6>
                                            <p class="text-muted">{{ user.last_login|date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}