{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card-group">
            {% for book in books %}
                <div class="card">
                    <img src="{{ book.image.url }}" class="card-img-top" alt="..." width="80" height="150">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">{{ book.pub_year }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
